.header{
    display: flex;
justify-content: space-between;
align-items: center;
}

.header__logo{
    width: 80px;
height: 81px;
}

.header__text{
    color: #2A2D26;

font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;

}
.header__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.header__item{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.header__select{
    background-color:transparent;
    border: none;
    padding-top: 2px;
}

.header__svg{
    width: 24px;
height: 24px;
}

.suport__button{
    display: flex;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
background: #39763B;
border: none;
color:  #FAFFF5;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.header__country{
    display: flex;
    width: 32px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.header__box{
    display: flex;
    align-items: center;
}

/* hero */

.hero{
    display: flex;
    flex-wrap: wrap;
}
.hero__first{
    display: flex;
width: 579px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
}

.hero__title{
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 52px; /* 130% */
position: relative;
}

.hero__leaf{
    width: 50px;
height: 39px;
transform: rotate(12.928deg);
flex-shrink: 0;
position: absolute;
top:180px;
left: 155px;
z-index: -2;
}

.hero__flower{
    width: 28px;
height: 32px;
flex-shrink: 0;
position: absolute;
top:253px;
left: 563px;
z-index: -2;
}

.hero__second{
    display: flex;
    width: 698px;
height: 452px;
flex-shrink: 0;
align-items: flex-end;
}

.hero__woman{
    width: 291px;
height: 452px;
flex-shrink: 0;
aspect-ratio: 291/452;
}

.hero__logo{
    width: 400px;
height: 404px;
flex-shrink: 0;
}

.hero__third{
    display: flex;
    gap: 51px;

}

.hero__qoute{
    color: #2A2D26;
    font-family: "Tinos";
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.hero__signature{
    color: var(--Black-people-0, #2A2D26);
text-align: right;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero__box{
    display: flex;
width: 528px;
flex-direction: column;
align-items: flex-end;
gap: 16px;
}
.hero__description{
    color: #2A2D26;
font-family: Mariupol;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}