@import"./base/reset.css";
@import"./base/common.css";
@import"./components/main-page.css";
@import"./components/thanks-page.css";
@import"./components/about-us-page.css";
@import"./components/help-page.css";
@import"./components/civilian.css";
@import"./components/military-page.css";
@import"./components/team-page.css";
@import"./components/partners-page.css";
@import"./components/support-page.css";
@import"./components/news-page.css";
@import"./components/contacts-page.css";
@font-face {
  font-family: 'Irpin Type';
  src: url('../fonts/Irpin-Type.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mariupol';
  src: url('../fonts/Mariupol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}