.news-body{
    background-color: #fafff5;
}

.news-page{
    padding-top: 40px;
    padding-bottom: 106px;
            @media screen and (min-width: 1280px) { 
background: linear-gradient(#fafff5d3, #fafff5d3),
    url("../../pictures/logo.png");
  background-size: auto auto,1000px 1000px ;
  background-position: center;
  background-repeat: no-repeat;
    padding-top: 100px;
  }
}

.news-cont{
    display: flex;
    flex-direction: column;
          @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
    
}

.report{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-title{
    margin-bottom: 32px;
    color: #000;
font-family: 'Irpin Type';
justify-content: center;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 44px; 
    position: relative;
    z-index: 0;
              @media screen and (min-width: 1280px) {
    font-family: 36px;
  }
}
.news-flower-one{
    width: 34px;
height: 32px;
flex-shrink: 0;
position: absolute;
top: -1%;
left: -2%;
z-index: -1;
}
.news-flower-two{
    width: 34px;
height: 32px;
flex-shrink: 0;
position: absolute;
top: 40%;
left: 95%;
z-index: -1;
}
.news-flower-three{
position: absolute;
top: 40%;
left: 88%;
z-index: -1;
}
.news-leaf-one{
position: absolute;
top: 15%;
left: 20%;
z-index: -1;
}

.reports-list{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
align-self: stretch;
}

.reports-items{
display: flex;
align-items: center;
gap: 16px;
align-self: stretch;
flex-direction: column;
@media screen and (min-width: 1280px) {
    flex-direction: row;
    height: 270px;
    gap: 32px;
  }
}

.line{
@media screen and (min-width: 1280px) { 
    width: 1px;
height: 990.001px;
flex-shrink: 0;
    stroke-width: 1px;
background-color: #000;
margin-left: 144px;
margin-right: 38px;
              }
}

.news-picture{
    background-color:  #9C9C9C;
height: 270px;
          @media screen and (min-width: 1280px) {
    width: 404px;
  }
}

.report-text{
    color: #000;
font-family: 'Irpin Type';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.report-text > a{
    color:#000;
}


.news{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 36px;
          @media screen and (min-width: 1280px) {
        display: flex;
width: 404px;
flex-direction: column;
align-items: flex-start;
  }
}

.news-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.news-item{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.news-text{
    color: #000;
font-family: 'Irpin Type';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}