.support-body {
  background-color: #fafff5;
}

.support {
  padding-top: px;
  padding-bottom: 100px;
          @media screen and (min-width: 1280px) {
    padding-top: 100px;
              background: linear-gradient(#fafff5d3, #fafff5d3),
    url("../../pictures/logo.png");
  background-size: auto auto,1000px 1000px ;
  background-position: center;
  background-repeat: no-repeat;
  }
}

.cont-support {
  display: flex;
  flex-direction: column;
}

.support-main-title {
  font-family: 'Irpin Type';
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  align-self: center;
  position: relative;
  z-index: 1;
  visibility: hidden;
  display: none;
        @media screen and (min-width: 1280px) {
    font-size: 36px;
    visibility: visible;
    display: inline;
  }
}

.support-flower-one{
flex-shrink: 0;
position: absolute;
top: -10%;
left: -5%;
z-index: -1;
}
.support-leaf-one{
transform: rotate(125.348deg);
flex-shrink: 0;
position: absolute;
top: 30%;
left: 46%;
z-index: -1;
}
.support-leaf-two{
transform: rotate(180.348deg);
flex-shrink: 0;
position: absolute;
top: 30%;
left: 73%;
z-index: -1;
}
.support-flower-two{
flex-shrink: 0;
position: absolute;
top: 40%;
left: 97%;
z-index: -1;
}
.support-info {
  display: flex;
  flex-direction: column;
  gap: 62px;
}
.support-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 231px;
  }
}
.support-two {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 41px;
    @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: auto;
  }
}

.support-uah {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
    @media screen and (min-width: 1280px) {
    width: 622px;
  }
}

.support-eur {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-items: center;
}

.support-usd {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-items: center;
}

.support-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.support-item {
  display: flex;
  background-color: #fafff5;
}

.support-sub-title {
  color: var(--Black-people-0, #2a2d26);
  text-align: center;
  font-family: 'Irpin Type';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 121.875% */
}

.support-text {
  font-family: "Mariupol";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
    @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

.support-button {
  visibility: hidden;
  display: none;
    @media screen and (min-width: 1280px) {
  display: flex;
  visibility: visible;
  width: 188px;
  height: 60px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid var(--Primary-green-500, #39763b);
  background: var(--Primary-green-500, #39763b);

  color: var(--Fifth-100, #fafff5);
  text-align: center;
  font-family: "Mariupol";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
    }
}

.support-button:hover {
  visibility: visible;
  border: 1px solid #39763b;
  background: #88be47;
  transition-duration: 250ms;
}

.support-svg:hover{
  fill: #88be47;
     transition-duration: 250ms;
     cursor: pointer;
}

.support-svg:hover path{
   fill: #88be47;
   transition-duration: 250ms;
   cursor: pointer;
}

.support-svg{
  transition-duration: 250ms;
}

.support-svg path{
  transition-duration: 250ms;
}
