.team {
  margin-top: 40px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 122px;
    background: linear-gradient(#fafff5d3, #fafff5d3),
      url("../../pictures/logo.png");
    background-size: 1000px 1000px;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 105px;
  }
}

.friend {
  margin-bottom: 26px;
  margin-top: 22px;
    @media screen and (min-width: 1280px) {
          margin-top: 105px;
          margin-bottom: 71px;
  }
}

.team-body {
  background-color: #fafff5;
}

.team-main-title {
  font-family: "Irpin Type";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  position: relative;
  justify-self: center;
  z-index: 1;
  margin-bottom: 40px;
  @media screen and (min-width: 1280px) {
    font-size: 36px;
    margin-bottom: 80px;
  }
}

.team-flower-one {
  position: absolute;
  flex-shrink: 0;
  top: 10%;
  left: -3%;
  z-index: -1;
}
.team-leaf-one {
  position: absolute;
  transform: rotate(-210.188deg);
  flex-shrink: 0;
  position: absolute;
  top: 30%;
  left: 51%;
  z-index: -1;
}
.team-flower-two {
  position: absolute;
  left: 95%;
  top: 40%;
  flex-shrink: 0;
  z-index: -1;
  @media screen and (min-width: 1280px) {
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  @media screen and (min-width: 1280px) {
      row-gap: 48px;
    justify-content: space-between;
  }
}

.team-item {
  display: flex;
  width: 296px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.team-name {
  color: #2a2d26;
  text-align: center;
  font-family: "Mariupol";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.team-description {
  color: #2a2d26;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

#team-special {
  @media screen and (min-width: 1280px) {
    display: flex;
    width: 627px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    height: 473px;
    width: 296px;
    height: 246px;
    aspect-ratio: 148/123;
  }
}

#team-special-photo {
  @media screen and (min-width: 1280px) {
    width: 296px;
    height: 246px;
    aspect-ratio: 148/123;
  }
}

.friend-title {
  font-family: "Irpin Type";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  position: relative;
  justify-self: center;
  z-index: 1;
  @media screen and (min-width: 1280px) {
    margin-top: 105px;
    font-size: 36px;
    margin-bottom: 80px;
  }
}

.friend-flower-one {
    display: none;
      @media screen and (min-width: 1280px) {
  position: absolute;
  left: -10px;
  top: 8px;
  z-index: -1;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  display: block;
      }
}

.friend-leaf-one {
    display: none;
      @media screen and (min-width: 1280px) {
  position: absolute;
  width: 23px;
  height: 46px;
  left: 120px;
  top: 2px;
  z-index: -1;
  transform: rotate(-15.284deg);
  flex-shrink: 0;
      }
}

.friend-list {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  @media screen and (min-width: 1280px) {
    gap: 32px;
      margin-top: 120px;
    flex-direction: row;
  }
}

.friend-item {
  display: flex;
  width: 296px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

#blank {
  height: 246px;
  align-self: stretch;
  background-color: #d9d9d9;
}
