.team{
    margin-bottom: 122px;
}

.friend{
    margin-bottom: 71px;
}

.team-body{
    background: linear-gradient(#fafff5d3, #fafff5d3),
    url("../../pictures/logo.png");
  background-size: 1000px 1000px;
  background-position: top;
background-repeat: no-repeat;
}

.team-main-title{
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 44px; 
justify-self: center;
margin-top: 105px;
margin-bottom: 80px;
position: relative;
z-index: 1;
}

.team-flower-one{
    position: absolute;
    width: 34px;
height: 34px;
flex-shrink: 0;
top: -1px;
left: -10px;
z-index: -1;
}
.team-leaf-one{
    position: absolute;
width: 20px;
height: 38px;
transform: rotate(-210.188deg);
flex-shrink: 0;
position: absolute;
top: 10px;
left:117px;
z-index: -1;
}
.team-flower-two{
    position: absolute;
    width: 34px;
height: 34px;
left: 200px;
top: 15px;
flex-shrink: 0;
z-index: -1;
}

.team-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
}

.team-item{
    display: flex;
width: 296px;
flex-direction: column;
align-items: center;
gap: 16px;
flex-shrink: 0;
}

.team-name{
    color: #2A2D26;
text-align: center;

/* main_text_24/32 medium */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}

.team-description{
    color:  #2A2D26;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}

#team-special{
    display: flex;
width: 627px;
flex-direction: column;
align-items: center;
gap: 16px;
flex-shrink: 0;
height: 473px;
}

#team-special-photo{
    width: 296px;
height: 246px;
aspect-ratio: 148/123;
}

.friend-title{
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 44px; 
justify-self: center;
margin-top: 105px;
margin-bottom: 80px;
position: relative;
}

.friend-flower-one{
    position: absolute;
    left: -10px;
    top: 8px;
    z-index: -1;
    width: 35px;
height: 35px;
flex-shrink: 0;
}

.friend-leaf-one{
    position: absolute;
width: 23px;
height: 46px;
left: 120px;
top: 2px;
z-index: -1;
transform: rotate(-15.284deg);
flex-shrink: 0;
}

.friend-list{
    margin-top: 120px;
    display: flex;
width: 1280px;
justify-content: center;
align-items: center;
gap: 32px;
}

.friend-item{
        display: flex;
width: 296px;
flex-direction: column;
align-items: center;
gap: 16px;
flex-shrink: 0;
}

#blank{
height: 246px;
align-self: stretch;
background-color: #D9D9D9;
}

